bin/
pkg/
.DS_Store
*.pyc
*.swp
*~
.vscode/
.vs/
.idea
.skaffold-*.yaml
.kubernetes-manifests-*/
.project
.eclipse.buildship.core.prefs
release/wi-kubernetes-manifests.yaml
bazel-bin
bazel-microservices-demo
bazel-out
bazel-testlogs
